<div class="input-text" [class.focused]="focused" [class.invalid]="attribute.required == true && (text == null || text.length == 0) && focused == false && submitted == true">
  <ion-item no-lines text-wrap [formGroup]="formGroup">
    <ion-label floating class="input-label">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
    <ion-input #input type="text" [formControlName]="attribute.key" [(ngModel)]="text" (keypress)="onKeyPress($event)" (focus)="onFocus($event)" (blur)="onBlur($event)"></ion-input>
  </ion-item>
  <p class="input-error" padding-left *ngIf="attribute.required == true && (text == null || text.length == 0) && focused == false && submitted == true">Text required</p>
</div>
