<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start>
      <button #cancel ion-button icon-only (click)="onCancel($event)">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Deployment</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="deployment-add-page">
  <ion-searchbar #searchbar color="light" type="search" debounce="500" placeholder="Find deployment by name"
                 autocomplete="false" autocorrect="false" spellcheck="false" (ionInput)="onSearch($event)"></ion-searchbar>
  <div class="loading" text-center *ngIf="deployments.length == 0 && loading == true">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <ion-item (click)="addDeployment($event, deployment)" *ngFor="let deployment of deployments">
      <h2>{{deployment.name}}</h2>
      <p>{{deployment.subdomain}}.{{deployment.domain}}</p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="black" *ngIf="offline">
    <p color="white" ion-text padding-left tappable (click)="showOfflineAlert()">Offline</p>
  </ion-toolbar>
</ion-footer>
