<div class="input-relation" [class.focused]="focused" [class.invalid]="attribute.required == true && (text == null || text.length == 0) && focused == false && submitted == true">
  <ion-item no-lines text-wrap [formGroup]="formGroup">
    <ion-label floating class="input-label selectable" color="dark">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
      <p ion-text color="dark" *ngIf="attribute.instructions">{{attribute.instructions}}</p>
    </ion-label>
    <ion-select #select [(ngModel)]="text" [selectOptions]="selectOptions" [formControlName]="attribute.key" (ionChange)="selectChanged($event)">
      <ion-option value="{{post.id}}" *ngFor="let post of posts">{{post.title}}</ion-option>
    </ion-select>
  </ion-item>
  <p ion-text color="danger" class="input-error" padding-left *ngIf="attribute.required == true && (text == null || text.length == 0) && focused == false && submitted == true">{{'INPUT_RELATION_REQUIRED' | translate}}</p>
</div>
