<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button #cancel ion-button icon-only (click)="onCancel($event)">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'USER_LOGIN' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="user-login-page" dir="{{direction}}">
  <div *ngIf="deployment && deployment.name">
    <h3 text-left padding-left padding-bottom ion-text color="dark">{{deployment.name}}</h3>
  </div>
  <ion-list>
    <ion-item>
      <ion-label floating>{{'USER_EMAIL' | translate}}</ion-label>
      <ion-input #username type="email" clearInput="false" autocomplete="off" autocorrect="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{'USER_PASSWORD' | translate}}</ion-label>
      <ion-input #password type="password" clearInput="false" clearOnEdit="true" autocomplete="off"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col text-left>
      <button ion-button text-uppercase clear color="dark" (click)="showPasswordReset($event)">{{'USER_PASSWORD_FORGOT' | translate}}</button>
    </ion-col>
    <ion-col text-right padding-right>
      <button ion-button text-uppercase color="primary" (click)="userLogin($event)"
            [disabled]="username.value.length == 0 || password.value.length == 0">{{'USER_LOGIN' | translate}}</button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar color="toolbar" *ngIf="offline">
    <p padding-left tappable (click)="showOfflineAlert()">{{'OFFLINE' | translate}}</p>
  </ion-toolbar>
</ion-footer>
