.post-value {
  margin-top: 5px;
  margin-bottom: 10px;
  .value-label {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
  }
  .value-text,
  .value-checkbox,
  .value-checkboxes,
  .value-date,
  .value-datetime,
  .value-location,
  .value-number,
  .value-radio,
  .value-select,
  .value-text,
  .value-textarea,
  .value-upload,
  .value-varchar,
  .value-video,
  .value-tags,
  .value-markdown {
    color: #838383;
    font-weight: 400;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .value-upload {
    img {
      width: 100%;
    }
  }
  .value-location {
    img {
      width: 100%;
    }
  }
  .value-text,
  .value-varchar,
  .value-textarea,
  .value-markdown {
    a {
      color: #777;
    }
  }
  .value-video {
    .video {
    	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 25px;
    	height: 0;
      iframe {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      }
    }
  }
  .value-tags {
    ion-icon {
      margin-right: 5px;
    }
  }
}
