<div class="post-value" *ngIf="value && showValue">
  <ion-item text-wrap>
    <div class="value-label selectable" ion-text color="dark">{{value.label}}</div>
    <div class="value-checkbox selectable" ion-text color="light" *ngIf="value.input == 'checkbox'">
      <span class="selectable" *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-checkboxes" ion-text color="light" *ngIf="value.input == 'checkboxes'">
      <span class="selectable" *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-date" ion-text color="light" *ngIf="value.input == 'date'">
      <span class="selectable" *ngIf="value.value">{{value.value | dateTime:'MMMM D, YYYY'}}</span>
    </div>
    <div class="value-datetime" ion-text color="light" *ngIf="value.input == 'datetime'">
      <span class="selectable" *ngIf="value.value">{{value.value | dateTime:'h:mm A, MMMM D, YYYY'}}</span>
    </div>
    <div class="value-location selectable" ion-text color="light" *ngIf="value.input == 'location'">
      <image-cache *ngIf="map" [src]="map" [fallback]="mapPaceholder" tappable (click)="locationClicked(value.value)"></image-cache>
    </div>
    <div class="value-number" ion-text color="light" *ngIf="value.input == 'number'">
      <span class="selectable" *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-radio" ion-text color="light" *ngIf="value.input == 'radio'">
      <span class="selectable" *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-select" ion-text color="light" *ngIf="value.input == 'select'">
      <span class="selectable" *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-text" ion-text color="light" *ngIf="value.input == 'text'">
      <div class="selectable" *ngIf="value.value" [innerHTML]="value.value | htmlParse"></div>
    </div>
    <div class="value-varchar" ion-text color="light" *ngIf="value.input == 'varchar'">
      <div class="selectable" *ngIf="value.value" [innerHTML]="value.value | htmlParse"></div>
    </div>
    <div class="value-textarea" ion-text color="light" *ngIf="value.input == 'textarea'">
      <div class="selectable" *ngIf="value.value" [innerHTML]="value.value | htmlParse"></div>
    </div>
    <div class="value-upload" ion-text color="light" *ngIf="value.input == 'upload'">
      <image-cache *ngIf="value.value" [src]="value.image" [fallback]="photoPaceholder" tappable (click)="imageClicked(value.image)"></image-cache>
      <span class="selectable" *ngIf="value.caption">{{value.caption}}</span>
    </div>
    <div class="value-video" ion-text color="light" *ngIf="value.input == 'video'">
      <div class="video" *ngIf="video">
        <iframe width="560" height="349" [src]="video" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="value-tags" ion-text color="light" *ngIf="value.input == 'tags'">
      <div *ngIf="value.tags">
        <div *ngFor="let tag of value.tags">
          <ion-icon ios="ios-pricetag" md="md-pricetag" color="light"></ion-icon>
          <span class="selectable" [innerHTML]="tag.tag"></span>
        </div>
      </div>
    </div>
    <div class="value-markdown" ion-text color="light" *ngIf="value.input == 'markdown'">
      <div class="selectable" *ngIf="value.value" [innerHTML]="value.value | MarkdownToHtml | htmlParse"></div>
    </div>
  </ion-item>
</div>
