<div class="post-value" *ngIf="value && value.type != 'title' && value.type != 'description'">
  <ion-item text-wrap>
    <div class="value-label">{{value.label}}</div>
    <div class="value-checkbox" *ngIf="value.input == 'checkbox'">
      <span *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-checkboxes" *ngIf="value.input == 'checkboxes'">
      <span *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-date" *ngIf="value.input == 'date'">
      <span *ngIf="value.value">{{value.value | dateTime:'MMMM D, YYYY'}}</span>
    </div>
    <div class="value-datetime" *ngIf="value.input == 'datetime'">
      <span *ngIf="value.value">{{value.value | dateTime:'h:mm A, MMMM D, YYYY'}}</span>
    </div>
    <div class="value-location" *ngIf="value.input == 'location'">
      <image-cache *ngIf="map" [src]="map" [fallback]="mapPaceholder" tappable (click)="locationClicked(value.value)"></image-cache>
    </div>
    <div class="value-number" *ngIf="value.input == 'number'">
      <span *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-radio" *ngIf="value.input == 'radio'">
      <span *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-select" *ngIf="value.input == 'select'">
      <span *ngIf="value.value">{{value.value}}</span>
    </div>
    <div class="value-text" *ngIf="value.input == 'text'">
      <div *ngIf="value.value" [innerHTML]="value.value | htmlParse"></div>
    </div>
    <div class="value-varchar" *ngIf="value.input == 'varchar'">
      <div *ngIf="value.value" [innerHTML]="value.value | htmlParse"></div>
    </div>
    <div class="value-textarea" *ngIf="value.input == 'textarea'">
      <div *ngIf="value.value" [innerHTML]="value.value | htmlParse"></div>
    </div>
    <div class="value-upload" *ngIf="value.input == 'upload'">
      <image-cache *ngIf="value.value" [src]="value.image" [fallback]="photoPaceholder" tappable (click)="imageClicked(value.image)"></image-cache>
      <span *ngIf="value.caption">{{value.caption}}</span>
    </div>
    <div class="value-video" *ngIf="value.input == 'video'">
      <div class="video" *ngIf="video">
        <iframe width="560" height="349" [src]="video" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="value-tags" *ngIf="value.input == 'tags'">
      <div *ngIf="value.tags">
        <div *ngFor="let tag of value.tags">
          <ion-icon ios="ios-pricetag" md="md-pricetag" color="grey"></ion-icon>
          <span [innerHTML]="tag.tag"></span>
        </div>
      </div>
    </div>
    <div class="value-markdown" *ngIf="value.input == 'markdown'">
      <div *ngIf="value.value" [innerHTML]="value.value | MarkdownToHtml | htmlParse"></div>
    </div>
  </ion-item>
</div>
