<div class="field-radio" [class.invalid]="required && value.length == 0">
  <ion-item no-lines>
    <ion-label class="field-label">
      {{attribute.label}}
      <span color="danger" *ngIf="required">*</span>
    </ion-label>
  </ion-item>
  <div [formGroup]="formGroup">
    <ion-list no-lines radio-group #radio [formControlName]="attribute.key">
      <ion-item *ngFor="let option of options">
        <ion-label>{{option}}</ion-label>
        <ion-radio color="blue" value="{{option}}" (ionSelect)="radioChanged($event)"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <p padding-left color="red" *ngIf="required && value.length == 0">Selection required</p>
</div>
