<div class="field-date" [class.invalid]="attribute.required == true && date == null">
  <ion-item no-lines [formGroup]="formGroup" *ngIf="formGroup">
    <ion-label class="field-label">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
    <ion-input type="text" hidden [formControlName]="attribute.key" [(ngModel)]="datetime"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon ios="ios-calendar-outline" md="md-calendar" color="grey" item-left></ion-icon>
    <ion-datetime class="date-placeholder" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMMM D" [(ngModel)]="date" (ionChange)="dateChanged($event)"></ion-datetime>
  </ion-item>
  <p ion-text padding-left color="red" *ngIf="attribute.required == true && date == null">Date is required</p>
</div>
