.input-image {
  .input-label {
    font-size: 14px;
    margin-bottom: 0;
  }
  .input-error {
  }
  ion-input {
    border-bottom: 1px solid #dddddd;
  }
  ion-card {
    max-width: 90%;
    img {
      width: 100%;
    }
  }
}
