.input-image {
  .input-label {
    color: #555;
    font-size: 14px;
    margin-bottom: 0;
  }
  .input-error {
    color: #dd0000;
  }
  ion-input {
    border-bottom: 1px solid #cccccc !important;
  }
  ion-card {
    max-width: 90%;
    img {
      width: 100%;
    }
  }
}
