<div class="input-textarea" [class.focused]="focused" [class.invalid]="attribute.required == true && (text == null || text.length == 0) && focused == false && submitted == true">
  <ion-item text-wrap [formGroup]="formGroup">
    <ion-label floating class="input-label">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
    <ion-textarea #input type="text" [(ngModel)]="text" [formControlName]="attribute.key" (focus)="onFocus($event)" (blur)="onBlur($event)"></ion-textarea>
  </ion-item>
  <p class="input-error" padding-left *ngIf="attribute.required == true && (text == null || text.length == 0) && focused == false && submitted == true">{{'TEXT_REQUIRED' | translate}}</p>
</div>
