.input-textarea {
  .input-label {
  }
  .input-error {
  }
  &.invalid {
    ion-input {
      border-bottom-color: color($colors, danger) !important;
    }
  }
  &.focused {
    .input-label {
      color: color($colors, active) !important;
    }
    ion-input {
      border-bottom-color: color($colors, active) !important;
    }
  }
}
