.input-date {
  .input-label {
    color: #555;
    font-size: 14px;
    margin-bottom: 0;
  }
  .input-error {
    color: #dd0000;
  }
  ion-datetime {
    width: 100%;
    &.date-placeholder {
      .datetime-text:empty:not(:focus):before {
        color: #aaaaaa;
        content: "YYYY-MM-DD";
      }
    }
  }
}
