<ion-header>
  <ion-navbar color="dark">
    <ion-buttons>
      <button #cancel ion-button icon-only (click)="onCancel($event)">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="form">{{form.name}}</ion-title>
    <ion-buttons end>
      <button #submit ion-button icon-only *ngIf="offline == true" (click)="onSubmit($event)">
        <ion-icon ios="ios-download" md="md-download"></ion-icon>
      </button>
      <button #submit ion-button icon-only *ngIf="offline == false" (click)="onSubmit($event)">
        <ion-icon ios="ios-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [style.border-left-color]="color" class="page-response-add">
  <div *ngIf="form && formGroup">
    <form [formGroup]="formGroup">
      <ion-list>
        <div padding-bottom *ngFor="let attribute of form.attributes">
          <field-checkbox [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'checkbox'"></field-checkbox>
          <field-checkboxes [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'checkboxes'"></field-checkboxes>
          <field-date [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'date'"></field-date>
          <field-datetime [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'datetime'"></field-datetime>
          <field-location [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'location'" (changeLocation)="changeLocation($event, attribute.key)"></field-location>
          <field-number [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'number'"></field-number>
          <field-radio [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'radio'"></field-radio>
          <field-select [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'select'"></field-select>
          <field-text [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'text'"></field-text>
          <field-textarea [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'textarea'"></field-textarea>
          <field-image [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'upload'"></field-image>
          <field-text [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'varchar'"></field-text>
          <field-video [submitted]="submitted" [value]="values[attribute.key]" [attribute]="attribute" [formGroup]="formGroup" *ngIf="attribute.input == 'video'"></field-video>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="black" *ngIf="offline">
    <p color="white" padding-left tappable (click)="showOfflineAlert()">Offline</p>
  </ion-toolbar>
</ion-footer>
