<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start>
      <button #cancel ion-button (click)="doCancel($event)">Cancel</button>
    </ion-buttons>
    <ion-title *ngIf="form">{{form.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="page-response-add" padding>
  <div *ngIf="form">
    <div margin-top margin-bottom *ngFor="let attribute of form.attributes">
      <field-checkbox [label]="attribute.label" *ngIf="attribute.input == 'checkbox'"></field-checkbox>
      <field-checkboxes [label]="attribute.label" *ngIf="attribute.input == 'checkboxes'"></field-checkboxes>
      <field-date [label]="attribute.label" *ngIf="attribute.input == 'date'"></field-date>
      <field-datetime [label]="attribute.label" *ngIf="attribute.input == 'datetime'"></field-datetime>
      <field-image [label]="attribute.label" *ngIf="attribute.input == 'upload'"></field-image>
      <field-location [label]="attribute.label" *ngIf="attribute.input == 'location'"></field-location>
      <field-number [label]="attribute.label" *ngIf="attribute.input == 'number'"></field-number>
      <field-radio [label]="attribute.label" *ngIf="attribute.input == 'radio'"></field-radio>
      <field-select [label]="attribute.label" *ngIf="attribute.input == 'select'"></field-select>
      <field-text [label]="attribute.label" *ngIf="attribute.input == 'varchar'"></field-text>
      <field-textarea [label]="attribute.label" *ngIf="attribute.input == 'text'"></field-textarea>
      <field-video [label]="attribute.label" *ngIf="attribute.input == 'video'"></field-video>
    </div>
  </div>
  <button #submit ion-button block margin-top color="primary" (click)="postResponse($event)">Post Response</button>
</ion-content>
