<div class="field-location" [class.invalid]="attribute.required == true && latitude == null && longitude == null">
  <ion-item no-lines [formGroup]="formGroup">
    <ion-label class="field-label">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
    <div [formGroupName]="attribute.key">
      <ion-input type="text" hidden formControlName="lat" [(ngModel)]="latitude"></ion-input>
      <ion-input type="text" hidden formControlName="lon" [(ngModel)]="longitude"></ion-input>
    </div>
  </ion-item>
  <ion-card margin-left margin-right *ngIf="mapImage">
    <img full [src]="mapImage" />
  </ion-card>
  <button ion-button margin-left icon-left text-uppercase small color="light" *ngIf="mapImage" (click)="updateLocation($event)">
    <ion-icon name="pin"></ion-icon> Change Location
  </button>
  <p ion-text padding-left color="red" *ngIf="attribute.required == true && latitude == null && longitude == null">Location required</p>
</div>
