<ion-item no-lines [formGroup]="formGroup">
  <ion-icon ios="ios-pin" md="md-pin" color="grey" item-left></ion-icon>
  <ion-label>{{attribute.label}}</ion-label>
  <div [formGroupName]="attribute.key">
    <ion-input type="text" hidden formControlName="lat" [(ngModel)]="latitude"></ion-input>
    <ion-input type="text" hidden formControlName="lon" [(ngModel)]="longitude"></ion-input>
  </div>
</ion-item>
<ion-item no-lines>
  <ion-icon ios="ios-pin" md="md-pin" color="white" item-left></ion-icon>
  <ion-card class="card-button" *ngIf="mapImage != null" (click)="mapClicked($event)">
    <img full [src]="mapImage" />
  </ion-card>
  <ion-card class="card-button" *ngIf="mapImage == null" (click)="mapClicked($event)">
    <img full [src]="mapPlaceholder" />
  </ion-card>
</ion-item>
