.page-response-details {
  border-left: thick solid #cccccc;
  ion-col {
    padding: 0;
    margin: 10px 0 0 0;
    &.pending {
      padding-top: 0;
      padding-right: 6px;
      margin-top: 6px;
      ion-badge {
        margin:0;
        font-size: 10px;
        font-weight: 400;
      }
    }
    &.status {
      margin-top: 10px;
      padding:0;
      font-size: 18px;
      margin-right: 5px;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      max-width: 18px;
      max-height: 18px;
      ion-icon {
        margin: 0;
        padding: 0;
        color: #888;
        line-height: 18px;
      }
      &.draft {
        text-align: center;
        background-color: #ffc334;
        ion-icon {
          color: #555;
          font-size: 16px;
          line-height: 16px;
          vertical-align: text-top;
        }
      }
    }
    &.profile {
      margin-top: 11px;
      img {
        width: 18px;
        border-radius: 50%;
      }
    }
    &.name {
      p {
        color: #888;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
