<ion-header>
  <ion-navbar color="dark">
    <ion-title *ngIf="post">{{post.form_name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [style.border-left-color]="color" class="page-response-details">
  <ion-refresher (ionRefresh)="loadUpdates($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="deployment && post">
    <ion-item no-lines>
      <ion-row>
        <ion-col class="pending" *ngIf="post.pending == true">
          <ion-badge text-uppercase color="black">Pending</ion-badge>
        </ion-col>
        <ion-col width-10 class="status {{post.status}}">
          <ion-icon ios="ios-globe" md="md-globe" *ngIf="post.status=='published'"></ion-icon>
          <ion-icon ios="ios-lock" md="md-lock" *ngIf="post.status=='draft'"></ion-icon>
          <ion-icon ios="ios-archive" md="md-archive" *ngIf="post.status=='archived'"></ion-icon>
        </ion-col>
        <ion-col width-10 class="profile">
          <image-cache [src]="post.user_image" [placeholder]="userPlaceholder"></image-cache>
        </ion-col>
        <ion-col class="name">
          <p>{{post.user_name || userName}} {{post.created | timeAgo}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item text-wrap class="post-value" *ngIf="post.title">
      <div class="value-label">Title</div>
      <div class="value-text" [innerHTML]="post.title | MarkdownToHtml | htmlParse"></div>
    </ion-item>
    <ion-item text-wrap class="post-value" *ngIf="post.description">
      <div class="value-label">Description</div>
      <div class="value-text" [innerHTML]="post.description | MarkdownToHtml | htmlParse"></div>
    </ion-item>
    <div *ngFor="let value of post.values">
      <post-value [value]="value" [mapToken]="deployment.mapbox_api_key" (showImage)="showImage(value.label,value.image)" (showLocation)="showLocation(value.label,value.value)"></post-value>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="black" *ngIf="offline">
    <p color="white" ion-text padding-left tappable (click)="showOfflineAlert()">Offline</p>
  </ion-toolbar>
</ion-footer>
