<ion-header>
  <ion-navbar color="dark">
    <ion-title *ngIf="post">{{post.form_name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="editResponse($event)">
        <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
      </button>
      <button ion-button (click)="showOptions($event)">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [style.border-left-color]="color" class="page-response-details">
  <ion-refresher (ionRefresh)="loadUpdates($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="post">
    <ion-grid>
      <ion-row>
        <ion-col width-10>
          <img class="lazy profile" [src]="userImage" [lazyLoad]="post.user_image || userImage" offset="1000">
        </ion-col>
        <ion-col width-80>
          <p>{{post.user_name || userName}} {{post.created | timeAgo}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item no-lines class="value" *ngIf="post.title">
      <div class="value-label">Title</div>
      <div class="value-text">{{post.title}}</div>
    </ion-item>
    <ion-item no-lines class="value" *ngIf="post.description">
      <div class="value-label">Description</div>
      <div class="value-text">{{post.description}}</div>
    </ion-item>
    <div *ngFor="let value of post.values">
      <value-text [value]="value"></value-text>
    </div>
  </ion-list>
</ion-content>
