<ion-header>
  <ion-navbar color="navbar">
    <ion-title *ngIf="post">{{post.form_name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [style.border-left-color]="color" class="page-response-details">
  <ion-refresher (ionRefresh)="loadUpdates($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="deployment && post">
    <ion-item no-lines>
      <ion-row>
        <ion-col class="pending" *ngIf="post.pending == true">
          <ion-badge text-uppercase color="black">{{'STATUS_PENDING' | translate}}</ion-badge>
        </ion-col>
        <ion-col width-10 class="status {{post.status}}">
          <ion-icon ios="ios-globe" md="md-globe" *ngIf="post.status=='published'"></ion-icon>
          <ion-icon ios="ios-lock" md="md-lock" *ngIf="post.status=='draft'"></ion-icon>
          <ion-icon ios="ios-archive" md="md-archive" *ngIf="post.status=='archived'"></ion-icon>
        </ion-col>
        <ion-col width-10 class="profile" *ngIf="post.hide_author == null || post.hide_author == false">
          <image-cache [src]="post.user_image" [placeholder]="userPlaceholder"></image-cache>
        </ion-col>
        <ion-col class="name" color="light">
          <p>
            <span *ngIf="post.hide_author == null || post.hide_author == false">{{post.user_name || userName}}</span>
            <span>{{post.created | timeAgo}}</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="form">{{post.form_name}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item text-wrap class="post-value" *ngIf="post.title">
      <div class="value-label">{{'INPUT_TITLE' | translate}}</div>
      <div class="value-text" (click)="handleLinks($event)" [innerHTML]="post.title | MarkdownToHtml | htmlParse"></div>
    </ion-item>
    <ion-item text-wrap class="post-value" *ngIf="post.description">
      <div class="value-label">{{'INPUT_DESCRIPTION' | translate}}</div>
      <div class="value-text" (click)="handleLinks($event)" [innerHTML]="post.description | MarkdownToHtml | htmlParse"></div>
    </ion-item>
    <div *ngFor="let value of post.values">
      <post-value [value]="value"
                  [mapToken]="deployment.mapbox_api_key"
                  (click)="handleLinks($event)"
                  (showImage)="showImage(value.label,value.image)"
                  (showLocation)="showLocation(value.label,value.value)"></post-value>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="toolbar" *ngIf="offline">
    <p padding-left tappable (click)="showOfflineAlert()">{{'OFFLINE' | translate}}</p>
  </ion-toolbar>
</ion-footer>
