.page-response-details {
  border-left: thick solid #cccccc;
  ion-list {
    margin-top: 10px;
  }
  ion-col {
    margin: 0;
    padding: 0;
    &.pending {
      margin-right: 3px;
      ion-badge {
        font-size: 12px;
        font-weight: 400;
        color: #FFF;
        background-color: #444;
      }
    }
    &.status {
      margin-right: 5px;
      border-radius: 50%;
      text-align: center;
      width: 18px;
      height: 18px;
      ion-icon {
        margin:0;
        padding:0;
        color: #888;
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 20px;
        vertical-align: top;
      }
    }
    &.draft {
      background-color: #ffc334;
      width: 18px;
      height: 18px;
      ion-icon {
        color: #555;
        font-size: 15px;
        line-height: 18px;
        vertical-align: top;
      }
    }
    &.profile {
      margin-right: 5px;
      width: 18px;
      height: 18px;
      img {
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
        border-radius: 50%;
      }
    }
    &.name {
      div {
        color: #888;
        font-size: 13px;
        margin-top: 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
