.page-response-details {
  border-left: thick solid #cccccc;
  ion-col {
    padding: 0;
    margin: 10px 0 0 0;
    &.status {
      font-size: 18px;
      margin-top: 8px;
      ion-icon {
        margin: 0;
        padding: 0;
        line-height: 18px;
      }
    }
    &.profile {
      vertical-align:top;
      img {
        width: 18px;
        border-radius: 50%;
      }
    }
    &.name {
      p {
        color: #888;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .lazy {
    transition: opacity 1s;
    opacity: 0;
    &.ng2-lazyloaded {
      opacity: 1;
    }
  }
}
