.input-location {
  .input-label {
    color: #555;
    font-size: 14px;
    margin-bottom: 0;
  }
  .input-error {
    color: #dd0000;
  }
  .latitude, .longitude, .street, .city, .province, .country {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  .latitude, .street, .province {
    padding-right: 10px;
  }
  ion-select {
    padding-top: 0;
    padding-left: 0;
    width: 100% !important;
    max-width: 100% !important;
    border-bottom: 1px solid #cccccc;
  }
  ion-input {
    position: relative;
    border-bottom: 1px solid #cccccc;
    input {
      margin: 0;
      padding: 0;
      padding-bottom: 5px;
    }
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: 30px;
      height: 20px;
      display: block;
      background-image: linear-gradient(to right, rgba(255,255,255,0) 0, #fff 100%);
    }
  }
  ion-card {
    max-width: 90%;
    img {
      width: 100%;
      transition: opacity 1s;
    }
  }
}
