<div class="input-location" [class.invalid]="attribute.required == true && latitude == null && longitude == null && submitted == true">
  <ion-item no-lines text-wrap [formGroup]="formGroup">
    <ion-label class="input-label">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
    <div [formGroupName]="attribute.key">
      <ion-input hidden type="text" formControlName="lat" [(ngModel)]="latitude"></ion-input>
      <ion-input hidden type="text" formControlName="lon" [(ngModel)]="longitude"></ion-input>
      <ion-input hidden type="text" formControlName="street" [(ngModel)]="street"></ion-input>
      <ion-input hidden type="text" formControlName="city" [(ngModel)]="city"></ion-input>
      <ion-input hidden type="text" formControlName="province" [(ngModel)]="province"></ion-input>
      <ion-input hidden type="text" formControlName="country" [(ngModel)]="country"></ion-input>
    </div>
  </ion-item>
  <ion-card margin-left margin-right *ngIf="map">
    <image-cache full [src]="map"></image-cache>
  </ion-card>
  <ion-row margin-left margin-right margin-top margin-bottom *ngIf="latitude && longitude">
    <ion-col width-50 class="latitude">
      <ion-input type="text" readonly="true" disabled="true" placeholder="Latitude" [(ngModel)]="latitude"></ion-input>
    </ion-col>
    <ion-col width-50 class="longitude">
      <ion-input type="text" readonly="true" disabled="true" placeholder="Longitude" [(ngModel)]="longitude"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row margin-left margin-right margin-top margin-bottom *ngIf="offline && (latitude == null || longitude == null)">
    <ion-col width-150 class="street">
      <ion-input type="text" placeholder="Street" [(ngModel)]="street"></ion-input>
    </ion-col>
    <ion-col width-50 class="city">
      <ion-input type="text" placeholder="City" [(ngModel)]="city"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row margin-left margin-right margin-bottom *ngIf="offline && (latitude == null || longitude == null)">
    <ion-col width-50 class="province">
      <ion-select placeholder="Province" [disabled]="provinces == null || provinces.length == 0" [selectOptions]="provincesOptions" [(ngModel)]="province">
        <ion-option [value]="_province.name" *ngFor="let _province of provinces">{{_province.name}}</ion-option>
      </ion-select>
    </ion-col>
    <ion-col width-50 class="country">
      <ion-select placeholder="Country" [selectOptions]="countriesOptions" [(ngModel)]="country" (ionChange)="countryChanged($event)">
        <ion-option [value]="_country.name" *ngFor="let _country of countries">{{_country.name}}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <button ion-button margin-left icon-left text-uppercase small color="light" [disabled]="offline" *ngIf="latitude && longitude" (click)="updateLocation($event)">
    <ion-icon ios="ios-pin" md="md-pin"></ion-icon> Change Location
  </button>
  <button ion-button margin-left icon-left text-uppercase small color="light" *ngIf="error == true" (click)="detectLocation()">
    <ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon> Detect Location
  </button>
  <p class="input-error" padding-left *ngIf="attribute.required == true && latitude == null && longitude == null && submitted == true">Location required</p>
  <p class="input-error" padding-left *ngIf="error == true">There was a problem finding- location.</p>
</div>
