.input-location {
  .input-label {
    color: #555;
    font-size: 14px;
    margin-bottom: 0;
  }
  .input-error {
    color: #dd0000;
  }
  ion-card {
    max-width: 90%;
    img {
      width: 100%;
      transition: opacity 1s;
      &.lazy {
        opacity: 0;
      }
      &.ng2-lazyloaded {
        opacity: 1 !important;
      }
    }
  }
}
