<div class="input-checkboxes" [class.invalid]="attribute.required == true && hasValue() == false && submitted == true">
  <ion-item no-lines text-wrap>
    <ion-label class="input-label selectable" color="dark">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
      <p ion-text color="dark" *ngIf="attribute.instructions">{{attribute.instructions}}</p>
    </ion-label>
  </ion-item>
  <div [formGroup]="formGroup" *ngIf="formGroup">
    <div [formGroupName]="attribute.key">
      <ion-item text-wrap *ngFor="let option of options">
        <ion-label text-wrap>{{option}}</ion-label>
        <ion-checkbox color="active" [(ngModel)]="values[option]" formControlName="{{option}}"></ion-checkbox>
      </ion-item>
    </div>
  </div>
  <p ion-text color="danger" class="input-error" padding-left *ngIf="attribute.required == true && hasValue() == false && submitted == true">{{'INPUT_SELECTION_REQUIRED' | translate}}</p>
</div>
