.page-response-list {
  $refresher-border-color: #3f4751;
  background-color: #e7e9ec;
  &.has-refresher > .scroll-content {
    border-top: 1px solid #ccc;
  }
  .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    #map {
      height: 100%;
      width: 100%;
    }
    .leaflet {
      height: 100%;
      width: 100%;
    }
    .popup {
      h4 {
        font-size: 17px;
        margin-bottom: 5px;
      }
      p {
        margin-top: 0;
        color: #888;
        font-size: 14px;
      }
    }
  }
  ion-segment {
    z-index: 100;
    ion-segment-button {
      z-index: 101;
      background-color: white;
    }
  }
  ion-refresher {
    border:none;
    ion-refresher-content {
      border:none;
    }
  }
  .no-responses {
    margin-top: 120px;
    color: #888;
  }
  .listSpinner {
    margin-top: 100px;
  }
  .mapSpinner {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    bottom: 25px;
    z-index: 1000;
  }
}
