.page-response-list {
  background-color: #e7e9ec;
  position: relative;
  .list {
    .spinner {
      margin-top: 100px;
      text-align: center;
    }
    .no-responses {
      h6 {
        color: #888;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 20px;
      }
      button {
      }
    }
    .more {
      text-align: center;
      button {
        color: #888;
      }
    }
  }
  .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    #mapMany {
      height: 100%;
      width: 100%;
    }
    .popup {
      h4 {
        font-size: 17px;
        margin-bottom: 5px;
      }
      p {
        margin-top: 0;
        color: #888;
        font-size: 14px;
      }
    }
    .spinner {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 5px;
      top: 5px;
      z-index: 1000;
    }
  }
}
