<ion-header>
  <ion-navbar color="dark">
    <ion-title>Responses</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="offline" (click)="searchResponses($event)">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="offline" (click)="showMap($event)" *ngIf="view == 'list'">
        <ion-icon ios="ios-map-outline" md="md-map"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showList($event)" *ngIf="view == 'map'">
        <ion-icon ios="ios-list-box-outline" md="md-list-box"></ion-icon>
      </button>
      <button ion-button icon-only (click)="shareResponses($event)">
        <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="page-response-list" [class.has-footer]="filter">
  <ion-refresher [enabled]="view == 'list'" (ionRefresh)="loadUpdates($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab bottom right *ngIf="(posts && posts.length > 0) || (markers && markers.length > 0)">
    <button ion-fab color="primary" (click)="addResponse($event)">
      <ion-icon ios="md-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom left *ngIf="view == 'map'">
    <button ion-fab mini color="grey" (click)="showStyles($event)">
      <ion-icon ios="ios-map" md="md-map"></ion-icon>
    </button>
  </ion-fab>
  <div class="map" *ngIf="view == 'map'">
    <div class="spinner" *ngIf="loading == true">
      <ion-spinner name="ios" color="grey"></ion-spinner>
    </div>
    <div #mapMany id="mapMany"></div>
  </div>
  <div class="list" *ngIf="view == 'list'">
    <div class="spinner" margin-top-lg *ngIf="posts == null && loading == true && refreshing == false">
      <ion-spinner name="ios"></ion-spinner>
    </div>
    <div class="no-responses" padding-left padding-right *ngIf="loading == false && refreshing == false">
      <h6 *ngIf="posts == null && offline == false">
        There was a problem downloading survey responses, please try again later.
      </h6>
      <h6 *ngIf="(posts == null || posts.length == 0) && offline == true">
        Please verify you have an internet connection, then try downloading survey responses again.
      </h6>
      <h6 *ngIf="filter == null && posts && posts.length == 0 && offline == false">
        This deployment doesn't have any<br> survey responses, yet.
      </h6>
      <h6 *ngIf="filter != null && posts && posts.length == 0">
        There are no responses<br> for the current filter.
      </h6>
      <button ion-button block text-uppercase color="primary" (click)="addResponse($event)"
              *ngIf="filter == null && posts && posts.length == 0 && offline == false">Submit Survey Response</button>
    </div>
    <ion-list *ngIf="posts && posts.length > 0">
      <post-card [post]="post" (cardSelected)="showResponse(post)" (menuSelected)="showOptions(post)" *ngFor="let post of posts"></post-card>
    </ion-list>
    <div class="more" padding-left padding-right padding-bottom *ngIf="refreshing == false && posts && posts.length > 0">
      <button ion-button block color="more" (click)="loadMore($event)">
        <span *ngIf="loading == true">Loading...</span>
        <span *ngIf="loading == false">Load More</span>
      </button>
    </div>
    <!-- <ion-infinite-scroll [enabled]="loading == false && refreshing == false" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="black" *ngIf="offline">
    <p color="white" ion-text padding-left tappable (click)="showOfflineAlert()">Offline</p>
  </ion-toolbar>
  <ion-toolbar color="dark" *ngIf="offline == false && filter">
    <p color="white" ion-text padding-left>Filters applied</p>
    <ion-buttons end>
      <button color="white" ion-button text-only text-uppercase (click)="clearFilter($event, filter)">
        Clear
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
