<ion-item [formGroup]="formGroup" *ngIf="formGroup">
  <ion-icon ios="ios-time" md="md-time" color="grey" item-left></ion-icon>
  <ion-label>{{attribute.label}}</ion-label>
  <ion-input type="text" hidden [formControlName]="attribute.key" [(ngModel)]="datetime"></ion-input>
</ion-item>
<ion-item>
  <ion-icon ios="ios-time" md="md-time" color="white" item-left></ion-icon>
  <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="time" (ionChange)="dateChanged($event)"></ion-datetime>
</ion-item>
<ion-item>
  <ion-icon ios="ios-time" md="md-time" color="white" item-left></ion-icon>
  <ion-datetime displayFormat="MMMM D, YYYY" pickerFormat="D MMMM YYYY" [(ngModel)]="date" (ionChange)="dateChanged($event)"></ion-datetime>
</ion-item>
