.page-home {
  background-color: #3f4751;
  img {
    width: 40%;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  h5 {
    color: #fff;
  }
  p {
    color: #f6f6f6;
  }
}
