<div class="field-select" [class.invalid]="attribute.required == true && (text == null || text.length == 0) && submitted == true">
  <ion-item [formGroup]="formGroup">
    <ion-label class="field-label">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
    <ion-select #select [(ngModel)]="text" [selectOptions]="selectOptions" [formControlName]="attribute.key" (ionChange)="selectChanged($event)">
      <ion-option value="{{option}}" *ngFor="let option of options">{{option}}</ion-option>
    </ion-select>
  </ion-item>
  <p ion-text padding-left color="red" *ngIf="attribute.required == true && (text == null || text.length == 0) && submitted == true">Selection required</p>
</div>
