<ion-card class="post-card" [style.border-left-color]="post.color">
  <ion-card-content>
    <ion-row>
      <ion-col width-90 tappable (click)="onCardSelected($event)">
        <ion-row>
          <ion-col class="pending" *ngIf="post.pending == true">
            <ion-badge text-uppercase color="black">Pending</ion-badge>
          </ion-col>
          <ion-col width-10 class="status {{post.status}}">
            <ion-icon ios="ios-globe" md="md-globe" *ngIf="post.status=='published'"></ion-icon>
            <ion-icon ios="ios-lock" md="md-lock" *ngIf="post.status=='draft'"></ion-icon>
            <ion-icon ios="ios-archive" md="md-archive" *ngIf="post.status=='archived'"></ion-icon>
          </ion-col>
          <ion-col width-10 class="profile">
            <img class="lazy" [src]="userPlaceholder" [lazyLoad]="post.user_image" [errorImage]="userPlaceholder">
          </ion-col>
          <ion-col class="name">
            <p class="truncate">{{post.user_name || userName}} {{post.created | timeAgo}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-10 class="more">
        <button item-right icon-only clear tappable (click)="onMenuSelected($event)">
          <ion-icon ios="ios-more" md="ios-more"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <ion-card-content class="title" *ngIf="post.title" tappable (click)="onCardSelected($event)">
    <div class="line-clamp-3">{{post.title}}</div>
  </ion-card-content>
  <ion-card-content class="description" *ngIf="post.description" tappable (click)="onCardSelected($event)">
    <p class="line-clamp-5">{{post.description | truncate:25}}</p>
  </ion-card-content>
  <ion-card-content class="image" *ngIf="post.image_url" tappable (click)="onCardSelected($event)">
    <img class="lazy" [src]="photoPlaceholder" [lazyLoad]="post.image_url" offset="1000" (error)="this.display='none'">
  </ion-card-content>
  <ion-card-content class="fields" *ngIf="post.values && post.values.length > 0" tappable (click)="onCardSelected($event)">
    <p>{{post.values.length}} more fields...</p>
  </ion-card-content>
</ion-card>
