.post-card {
  border-left: thick solid #cccccc;
  ion-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ion-col {
    margin: 0;
    padding: 0;
    &.pending {
      padding-right: 4px;
      ion-badge {
        margin:0;
        font-size: 10px;
        font-weight: 400;
      }
    }
    &.status {
      font-size: 18px;
      padding-right: 4px;
      ion-icon {
        padding: 0;
        margin: 0;
        line-height: 18px;
      }
    }
    &.profile {
      text-align: center;
      padding-right: 4px;
      img {
        width: 18px;
        min-width:18px;
        margin-top: 2px;
        border-radius: 50%;
      }
    }
    &.name {
      margin-top: 2px;
      p {
        width: 100%;
        color: #888;
        font-size: 13px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &.more {
      margin-right: 0;
      padding-right: 0;
      text-align: right;
      background-color: white;
      button {
        margin-right: 0;
        padding-right: 0;
        ion-icon {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
  .title {
    color: #333;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .description {
    color: #888;
    margin-top: 4px;
    font-size: 14px;
  }
  .image {
    img {
      transition: opacity 1s;
      &.lazy {
        opacity: 0;
      }
      &.ng2-lazyloaded {
        opacity: 1;
      }
    }
  }
  .fields {
    p {
      color: #888;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
