<ion-card class="card" [style.border-left-color]="response.color" tappable (click)="cardSelected($event)">
  <ion-item>
    <button item-right tappable (click)="menuSelected($event)">
      <ion-icon ios="ios-more" md="ios-more"></ion-icon>
    </button>
    <ion-icon ios="ios-globe-outline" md="md-globe" color="grey" item-left *ngIf="response.status=='published'"></ion-icon>
    <ion-icon ios="ios-lock-outline" md="md-lock" color="grey" item-left *ngIf="response.status=='draft'"></ion-icon>
    <ion-icon ios="ios-trash-oultine" md="md-trash" color="grey" item-left *ngIf="response.status=='archived'"></ion-icon>
    <ion-avatar item-left>
      <img src="https://randomuser.me/api/portraits/men/{{index+1}}.jpg">
    </ion-avatar>
    <p text-muted>Dale Zak {{response.created | timeAgo}}</p>
  </ion-item>
  <ion-card-content>
    <h2 *ngIf="response.title">{{response.title}}</h2>
    <p *ngIf="response.content">{{response.content}}</p>
  </ion-card-content>
  <ion-card-content>
    <img src="http://lorempixel.com/400/200/sports/{{index+1}}">
  </ion-card-content>
  <ion-card-content>
    <p class="more">2 more fields...</p>
  </ion-card-content>
</ion-card>
