<ion-card class="response-card" [style.border-left-color]="response.color">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col width-10 tappable (click)="onCardSelected($event)">
          <ion-icon ios="ios-globe-outline" md="md-globe" color="grey" *ngIf="response.status=='published'"></ion-icon>
          <ion-icon ios="ios-lock-outline" md="md-lock" color="grey" *ngIf="response.status=='draft'"></ion-icon>
          <ion-icon ios="ios-trash-outline" md="md-trash" color="grey" *ngIf="response.status=='archived'"></ion-icon>
        </ion-col>
        <ion-col width-10 tappable (click)="onCardSelected($event)">
          <img class="lazy profile" [src]="placeholderUser" [lazyLoad]="imageUser" [offset]="offset">
        </ion-col>
        <ion-col width-70 tappable (click)="onCardSelected($event)">
          <p text-muted>{{name}} {{response.created | timeAgo}}</p>
        </ion-col>
        <ion-col width-10 text-right>
          <button tappable (click)="onMenuSelected($event)">
            <ion-icon ios="ios-more" md="ios-more"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h2 *ngIf="response.title">{{response.title}}</h2>
    <p *ngIf="response.content">{{response.content}}</p>
  </ion-card-content>
  <ion-card-content *ngIf="media" tappable (click)="onCardSelected($event)">
    <img class="lazy" [src]="media.original_file_url" [lazyLoad]="media.original_file_url">
  </ion-card-content>
  <ion-card-content *ngIf="response.fields" tappable (click)="onCardSelected($event)">
    <p class="more">{{response.fields}} more fields...</p>
  </ion-card-content>
</ion-card>
