.response-card {
  border-left: thick solid #cccccc;
  ion-grid {
    padding:0;
    margin-top: 10px;
    ion-row {
      padding:0;
      margin:0;
      ion-col {
        padding:0;
        margin:0;
        p {
          color: #555;
          font-size: 13px;
          padding-top: 2px;
        }
      }
    }
  }
  .lazy {
    transition: opacity 1s;
    opacity: 0;
    &.ng2-lazyloaded {
      opacity: 1;
    }
    &.profile {
      border-radius: 50%;
      width: 20px;
    }
  }
  span {
    color: #ccc;
  }
  ion-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
    h2 {
      margin-bottom: 10px;
    }
    p {

    }
    img {
      transition: opacity 1s;
      opacity: 0;
      &.ng2-lazyloaded {
        opacity: 1;
      }
    }
  }
  ion-item {
    p {
      margin-left: 0;
      padding-left: 0;
    }
  }
  button {
    margin-right: 0;
    padding-right: 0;
    ion-icon {
      font-size: 2em;
      margin-right: 0;
      padding-right: 0;
    }
  }
  .more {
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}
