.response-image-page {
  background-color: color($colors, background);
  img {
    width: 100%;
    &.lazy {
      transition: opacity 1s;
      opacity: 0;
      &.ng2-lazyloaded {
        opacity: 1;
      }
    }
  }
}
