<div class="field-checkboxes" [class.invalid]="attribute.required == true && hasValue() == false && submitted == true">
  <ion-item no-lines>
    <ion-label class="field-label">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
  </ion-item>
  <div [formGroup]="formGroup" *ngIf="formGroup">
    <div [formGroupName]="attribute.key">
      <ion-item *ngFor="let option of options">
        <ion-label>{{option}}</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="values[option]" formControlName="{{option}}"></ion-checkbox>
      </ion-item>
    </div>
  </div>
  <p ion-text padding-left color="red" *ngIf="attribute.required == true && hasValue() == false && submitted == true">Selection required</p>
</div>
