<ion-item  no-lines>
  <ion-icon ios="ios-checkbox" md="md-checkbox" color="grey" item-left></ion-icon>
  <ion-label>{{attribute.label}}</ion-label>
</ion-item>
<div [formGroup]="formGroup" *ngIf="formGroup">
  <div class="checkboxes" [formGroupName]="attribute.key">
    <ion-item no-lines *ngFor="let option of options">
      <ion-icon ios="ios-checkbox" md="md-checkbox" color="white" item-left></ion-icon>
      <ion-label>{{option}}</ion-label>
      <ion-checkbox [(ngModel)]="values[option]" formControlName="{{option}}"></ion-checkbox>
    </ion-item>
  </div>
</div>
