ion-menu {
  background-color: #fafafa;
  ion-header {
    ion-toolbar {
      ion-title {
        width: 100%;
      }
      button {
        font-weight: 600;
      }
    }
  }
  ion-list {
    ion-item {
      .name {
        font-weight: 600;
        font-size: 16px;
        color: #3c3c3c;
        padding-bottom: 4px;
      }
      .domain {
        font-weight: 400;
        font-size: 14px;
        color: #767676;
      }
      &.selected {
        background-color: #eeeeee;
        .name {
          color: #2f77b0;
        }
      }
    }
  }
}
img {
  &.img-rounded {
    border-radius: 50%;
  }
  &.img-100 {
    max-width: 100px;
  }
}
ion-item {
  ion-label {
    color: #555;
  }
  ion-input, ion-textarea {
    border-bottom: 1px solid #cccccc;
  }
  ion-datetime {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    &:focus {
      border-bottom-color: #fdc245 !important;
    }
    &.date-placeholder {
      .datetime-text:empty:not(:focus):before {
        color: #aaaaaa;
        content: "MMMM D, YYYY";
      }
    }
    &.time-placeholder {
      .datetime-text:empty:not(:focus):before {
        color: #aaaaaa;
        content: "H:MM A";
      }
    }
  }
  .checkboxes {
    ion-label {
      color: #222;
    }
  }
  &.invalid {
    ion-label {
      color: #a51a1a;
    }
    ion-icon {
      color: #a51a1a;
    }
    ion-input, ion-textarea, ion-datetime {
      border-bottom: 1px solid #a51a1a;
    }
  }
}
.input-has-focus {
  ion-input, ion-textarea {
    border-bottom: 1px solid #fdc245;
  }
}
.radio-group {
  ion-item {
    .item-inner {
      border-bottom: 1px solid #cccccc !important;
    }
  }
  ion-label {
    color: #222;
  }
}
