<ion-menu [content]="content" swipeEnabled="false" (ionOpen)="menuOpen($event)" (ionClose)="menuClose($event)">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons start>
        <button ion-button text-only>
          Deployments
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="addDeployment($event)">
          <ion-icon ios="md-add" md="md-add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="deployments && deployments.length > 0">
      <ion-item menuClose [class.selected]="deployment != null && deployment.url === _deployment.url"
                (click)="showDeployment(_deployment)" *ngFor="let _deployment of deployments">
        <div class="name">{{_deployment.name}}</div>
        <div class="domain">{{_deployment.subdomain}}.{{_deployment.domain}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
