ion-menu {
  background-color: color($colors, background);
  ion-header {
    ion-toolbar {
      ion-title {
        width: 100%;
      }
      button {
        font-weight: 600;
      }
    }
  }
  ion-list {
    ion-item {
      &.active {
        background-color: color($colors, highlight);
        ion-label {
          span {
            color: color($colors, active);
          }
        }
      }
    }
  }
}
ion-footer {
  ion-toolbar {
    p {
      color: white;
    }
    button {
      color: white;
    }
  }
}
img {
  &.img-rounded {
    border-radius: 50%;
  }
  &.img-100 {
    max-width: 100px;
  }
}
.disabled {
  opacity: .4;
  pointer-events: none;
}
.line-clamp-2 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line-clamp-3 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line-clamp-4 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.line-clamp-5 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.line-clamp-6 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.line-clamp-7 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.line-clamp-8 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
