.input-datetime {
  .input-label {
    font-size: 16px;
    margin-bottom: 0;
  }
  .input-error {
  }
  ion-datetime {
    width: 100%;
    &.date-placeholder {
      .datetime-text:empty:not(:focus):before {
        color: #aaaaaa;
        content: "YYYY-MM-DD";
      }
    }
    &.time-placeholder {
      .datetime-text:empty:not(:focus):before {
        color: #aaaaaa;
        content: "H:MM A";
      }
    }
  }
}
