<div class="input-datetime" [class.invalid]="attribute.required == true && (date == null || time == null) && submitted == true">
  <ion-item no-lines text-wrap [formGroup]="formGroup" *ngIf="formGroup">
    <ion-label class="input-label selectable" color="dark">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
    <ion-input type="text" hidden [formControlName]="attribute.key" [(ngModel)]="datetime"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon ios="ios-time-outline" md="md-time" color="light" item-left></ion-icon>
    <ion-datetime class="time-placeholder" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="time" (ionChange)="dateChanged($event)"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-icon ios="ios-calendar-outline" md="md-calendar" color="light" item-left></ion-icon>
    <ion-datetime class="date-placeholder" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMMM D" [(ngModel)]="date" (ionChange)="dateChanged($event)"></ion-datetime>
  </ion-item>
  <p ion-text color="danger" class="input-error" padding-left *ngIf="attribute.required == true && (date == null || time == null) && submitted == true">{{'INPUT_DATETIME_REQUIRED' | translate}}</p>
</div>
