.post-card {
  padding-top: 8px;
  background-color: white;
  border-left: thick solid #cccccc;
  ion-col {
    margin: 0;
    padding: 0;
    &.pending {
      margin-right: 3px;
      ion-badge {
        font-size: 12px;
        font-weight: 400;
        color: #FFF;
        background-color: #444;
      }
    }
    &.status {
      margin-right: 5px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: top;
      ion-icon {
        margin:0;
        padding:0;
        color: #888;
        font-size: 22px;
        line-height: 22px;
      }
    }
    &.draft {
      margin-top: 0;
      background-color: #ffc334;
      ion-icon {
        color: #555;
        font-size: 16px;
        line-height: 16px;
        vertical-align: top;
      }
    }
    &.profile {
      margin-right: 5px;
      img {
        width: 18px;
        height: 18px;
        min-width: 18px;
        border-radius: 50%;
        vertical-align: middle;
      }
    }
    &.name {
      div {
        margin-top: 3px;
        width: 100%;
        color: #888;
        font-size: 13px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &.more {
      button {
        margin-top: 0;
        padding-top: 0;
        background-color: white;
        ion-icon {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }
  ion-card-content {
    padding-top: 4px;
    padding-bottom: 5px;
    &.title {
      font-size: 15px;
    }
    &.description {
      font-size: 14px;
      margin-top: 0;
      padding-top: 0;
    }
    &.fields {
      p {
        font-size: 13px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }
  }
}
