.post-card {
  border-left: thick solid #cccccc;
  ion-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
    &.title {
      color: #333;
      font-size: 15px;
    }
    &.description {
      color: #888;
      font-size: 14px;
      margin-top: 0;
      padding-top: 0;
    }
    &.fields {
      p {
        color: #888;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  ion-col {
    margin: 0;
    padding: 0;
    &.pending {
      padding-right: 4px;
      ion-badge {
        margin:0;
        font-size: 10px;
        font-weight: 400;
      }
    }
    &.status {
      margin:0;
      padding:0;
      font-size: 18px;
      margin-right: 5px;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      max-width: 18px;
      max-height: 18px;
      ion-icon {
        margin: 0;
        padding: 0;
        color: #888;
        line-height: 18px;
      }
      &.draft {
        margin-top: 1px;
        text-align: center;
        background-color: #ffc334;
        ion-icon {
          color: #555;
          font-size: 16px;
          line-height: 16px;
          vertical-align: text-top;
        }
      }
    }
    &.profile {
      text-align: center;
      padding-right: 4px;
      img {
        width: 18px;
        min-width:18px;
        margin-top: 2px;
        border-radius: 50%;
      }
    }
    &.name {
      margin-top: 2px;
      p {
        width: 100%;
        color: #888;
        font-size: 13px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &.more {
      margin:0;
      padding:0;
      text-align: center;
      button {
        margin:0;
        padding:0;
        ion-icon {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
