<ion-card class="post-card" [style.border-left-color]="post.color">
  <ion-card-content>
    <ion-row>
      <ion-col width-90 tappable (click)="onCardSelected($event)">
        <ion-row>
          <ion-col class="pending" *ngIf="post.pending == true">
            <ion-badge text-uppercase color="dark">{{'STATUS_PENDING' | translate}}</ion-badge>
          </ion-col>
          <ion-col width-10 class="status {{post.status}}">
            <ion-icon ios="ios-globe" md="md-globe" *ngIf="post.status=='published'"></ion-icon>
            <ion-icon ios="ios-lock" md="md-lock" *ngIf="post.status=='draft'"></ion-icon>
            <ion-icon ios="ios-archive" md="md-archive" *ngIf="post.status=='archived'"></ion-icon>
          </ion-col>
          <ion-col width-10 class="profile" *ngIf="post.hide_author == null || post.hide_author == false">
            <image-cache [src]="post.user_image" [placeholder]="userPlaceholder" *ngIf="userPlaceholder"></image-cache>
          </ion-col>
          <ion-col class="name">
            <p class="truncate" ion-text color="light">
              <span *ngIf="post.hide_author == null || post.hide_author == false">{{post.user_name || userName}}</span>
              <span>{{post.created | timeAgo}}</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-10 class="more">
        <button icon-only clear tappable (click)="onMenuSelected($event)">
          <ion-icon ios="ios-more" md="ios-more"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col width-10 class="status">
        <ion-icon ios="ios-leaf" md="md-leaf" *ngIf="post.form_name == 'Land'"></ion-icon>
        <ion-icon ios="ios-water" md="md-water" *ngIf="post.form_name == 'Water'"></ion-icon>
        <ion-icon ios="ios-cloud" md="md-cloud" *ngIf="post.form_name == 'Air'"></ion-icon>
      </ion-col>
      <ion-col class="form">
        <p class="truncate" ion-text color="light">{{post.form_name}}</p>
      </ion-col>
    </ion-row> -->
  </ion-card-content>
  <ion-card-content class="title" *ngIf="post.title" tappable (click)="onCardSelected($event)">
    <div class="line-clamp-3" ion-text color="dark">{{post.title}}</div>
  </ion-card-content>
  <ion-card-content class="description" *ngIf="post.description" tappable (click)="onCardSelected($event)">
    <p class="line-clamp-5" ion-text color="light">{{post.description | truncate:25}}</p>
  </ion-card-content>
  <ion-card-content class="image" *ngIf="post.image_url" tappable (click)="onCardSelected($event)">
    <image-cache [src]="post.image_url"></image-cache>
  </ion-card-content>
  <ion-card-content class="fields" *ngIf="post.values && post.values.length > 0" tappable (click)="onCardSelected($event)">
    <p ion-text color="light">{{post.values.length}} {{'MORE_FIELDS_' | translate}}</p>
  </ion-card-content>
</ion-card>
