<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start>
      <button #cancel ion-button icon-only (click)="onCancel($event)">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons end>
      <button #cancel ion-button text-only (click)="onDone($event)">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="deployment-settings">
  <div margin-bottom>
    <ion-item margin-bottom *ngIf="deployment">
      <ion-label floating>Deployment name</ion-label>
      <ion-input #name type="text" [(ngModel)]="deployment.name"></ion-input>
    </ion-item>
  </div>
  <div margin-top margin-bottom>
    <ion-item *ngIf="deployment">
      <ion-label floating>Describe your site</ion-label>
      <ion-textarea #description type="text" [(ngModel)]="deployment.description"></ion-textarea>
    </ion-item>
  </div>
  <div margin-bottom>
    <ion-item *ngIf="deployment">
      <ion-label floating>Contact email address</ion-label>
      <ion-input #email type="email" [(ngModel)]="deployment.email"></ion-input>
    </ion-item>
    <p class="hint" padding-left padding-right>Use caution, as this will be visible to anyone on your site.</p>
  </div>
</ion-content>
