<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons start>
      <button #cancel ion-button icon-only (click)="onCancel($event)">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'SETTINGS' | translate}}</ion-title>
    <ion-buttons end>
      <button #cancel ion-button text-only (click)="onDone($event)">{{'ACTION_SAVE' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="deployment-settings">
  <div margin-bottom>
    <ion-item margin-bottom *ngIf="deployment">
      <ion-label floating>{{'DEPLOYMENT_NAME' | translate}}</ion-label>
      <ion-input #name type="text" clearInput="false" autocomplete="off" autocorrect="off" [(ngModel)]="deployment.name"></ion-input>
    </ion-item>
  </div>
  <div margin-top margin-bottom>
    <ion-item *ngIf="deployment">
      <ion-label floating>{{'DEPLOYMENT_DESCRIPTION' | translate}}</ion-label>
      <ion-textarea #description type="text" clearInput="false" autocomplete="off" autocorrect="off" [(ngModel)]="deployment.description"></ion-textarea>
    </ion-item>
  </div>
  <div margin-bottom>
    <ion-item *ngIf="deployment">
      <ion-label floating>{{'DEPLOYMENT_EMAIL' | translate}}</ion-label>
      <ion-input #email type="email" clearInput="false" autocomplete="off" autocorrect="off" [(ngModel)]="deployment.email"></ion-input>
    </ion-item>
    <p ion-text padding-left padding-right color="light">{{'DEPLOYMENT_EMAIL_WARNING' | translate}}</p>
  </div>
</ion-content>
