<div class="value" *ngIf="value">
  <ion-item no-lines text-wrap>
    <div class="value-label">{{value.label}}</div>
    <div class="value-checkbox" *ngIf="value.input == 'checkbox'">{{value.value}}</div>
    <div class="value-checkboxes" *ngIf="value.input == 'checkboxes'">{{value.value}}</div>
    <div class="value-date" *ngIf="value.input == 'date'">{{value.value | dateTime:'MMMM D, YYYY'}}</div>
    <div class="value-datetime" *ngIf="value.input == 'datetime'">{{value.value | dateTime:'h:mm A, MMMM D, YYYY'}}</div>
    <div class="value-location" *ngIf="value.input == 'location'">
      <img full class="lazy" [src]="map" [lazyLoad]="map" [errorImage]="mapPaceholder"
          *ngIf="map" tappable (click)="locationClicked(value.value)" />
    </div>
    <div class="value-number" *ngIf="value.input == 'number'">{{value.value}}</div>
    <div class="value-radio" *ngIf="value.input == 'radio'">{{value.value}}</div>
    <div class="value-select" *ngIf="value.input == 'select'">{{value.value}}</div>
    <div class="value-text" *ngIf="value.input == 'text'">{{value.value}}</div>
    <div class="value-textarea" *ngIf="value.input == 'textarea'">{{value.value}}</div>
    <div class="value-upload" *ngIf="value.input == 'upload'">
      <img full class="lazy" [src]="value.image" [lazyLoad]="value.image" [errorImage]="photoPaceholder"
          *ngIf="value.image" tappable (click)="imageClicked(value.value)" />
    </div>
    <div class="value-varchar" *ngIf="value.input == 'varchar'">{{value.value}}</div>
    <div class="value-video" *ngIf="value.input == 'video'">
      <div class="video" *ngIf="video">
        <iframe width="560" height="349" [src]="video" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </ion-item>
</div>
