<div class="field-number" [class.focused]="focused" [class.invalid]="required && value.length == 0 && focused == false">
  <ion-item no-lines [formGroup]="formGroup">
    <ion-label floating class="field-label">
      {{attribute.label}}
      <span color="danger" *ngIf="required">*</span>
    </ion-label>
    <ion-input #input type="number" [formControlName]="attribute.key" (focus)="onFocus($event)" (blur)="onBlur($event)"></ion-input>
  </ion-item>
  <p padding-left color="red" *ngIf="required && value.length == 0 && focused == false">Number required</p>
</div>
