<div class="field-number" [class.focused]="focused" [class.invalid]="attribute.required == true && (text == null || text.length == 0) && focused == false && submitted == true">
  <ion-item no-lines [formGroup]="formGroup">
    <ion-label floating class="field-label">
      {{attribute.label}}
      <span ion-text color="danger" *ngIf="attribute.required == true">*</span>
    </ion-label>
    <ion-input #input type="number" [formControlName]="attribute.key" [(ngModel)]="text" (focus)="onFocus($event)" (blur)="onBlur($event)"></ion-input>
  </ion-item>
  <p ion-text padding-left color="red" *ngIf="attribute.required == true && (text == null || text.length == 0) && focused == false && submitted == true">Number required</p>
</div>
