.deployment-details-page {
  padding-top: 0;
  margin-top: 0;
  img {
    max-width: 50%;
    border-radius: 50%;
    transition: all 1s;
  }
  .fadein {
    transition: all 1s;
  }
  p {
    font-size: 16px;
    a {
      color: color($colors, dark);
    }
  }
}
