.page-deployment-details {
  .header {
    background-color: #3f4751;
    margin-top: -20px;
    h4 {
      color: #ffffff;
    }
  }
  .image {
    text-align: center;
  }
  p {
    color: #666;
  }
}
