.page-deployment-details {
  padding-top: 0;
  margin-top: 0;
  .header {
    background-color: #3f4751;
    h4 {
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .image {
    text-align: center;
    img {
      max-width: 50%;
      transition: opacity 1s;
      opacity: 0;
      &.ng2-lazyloaded {
        opacity: 1;
      }
    }
  }
  p {
    color: #666;
    font-size: 16px;
  }
  ion-refresher {
    border: none;
  }
}
