<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="shareDeployment($event)">
        <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content class="page-deployment-details">
  <ion-refresher (ionRefresh)="loadUpdates($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="deployment">
    <div class="header" *ngIf="deployment.name">
      <h4 text-center padding-top padding-bottom>{{deployment.name}}</h4>
    </div>
    <div class="image" *ngIf="deployment.image">
      <img padding [src]="placeholder" [lazyLoad]="deployment.image" [offset]="offset">
    </div>
    <p padding-left padding-right *ngIf="deployment.description">{{deployment.description}}</p>
    <div padding-top padding-left padding-right padding-bottom margin-bottom>
      <button ion-button block text-uppercase color="primary"
            (click)="addResponse($event)">Submit A Survey Response</button>
    </div>
    <ion-list>
      <ion-item detail-push (click)="showResponses($event)">
        Responses
      </ion-item>
      <ion-item detail-push (click)="showCollections($event)">
        Collections
      </ion-item>
      <ion-item detail-push (click)="showSettings($event)">
        Settings
      </ion-item>
    </ion-list>
  </div>
</ion-content>
