<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="deployment">{{deployment.deployment_name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addResponse($event)" *ngIf="token">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="page-deployment-details">
  <ion-fab bottom right *ngIf="token">
    <button ion-fab mini color="primary" (click)="addResponse($event)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="site" padding>
    <h1>{{site.name}}</h1>
    <h4>{{site.description}}</h4>
    <p>{{site.client_url}}</p>
    <img [src]="site.image_header" *ngIf="site.image_header">
  </div>
  <div *ngIf="forms">
    <ion-card *ngFor="let form of forms">
      <ion-card-header>
        {{form.name}}
      </ion-card-header>
      <ion-card-content>
        <p>{{form.description}}</p>
      </ion-card-content>
      <ion-card-content *ngIf="form.attributes">
        <p *ngFor="let attribute of form.attributes">{{attribute.label}} ({{attribute.input}})</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div padding>
    <button #button ion-button block margin-top color="secondary"
            (click)="showResponses($event)" *ngIf="token && token.length > 0">Responses</button>
  </div>
</ion-content>
