<div class="field-checkbox" [class.invalid]="required && hasValue() == false">
  <ion-item no-lines>
    <ion-label class="field-label">
      {{attribute.label}}
      <span color="danger" *ngIf="required">*</span>
    </ion-label>
  </ion-item>
  <div [formGroup]="formGroup" *ngIf="formGroup">
    <div [formGroupName]="attribute.key">
      <ion-item *ngFor="let option of options">
        <ion-label>{{option}}</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="values[option]" formControlName="{{option}}" (ionChange)="checkChanged($event)"></ion-checkbox>
      </ion-item>
    </div>
  </div>
  <p padding-left color="red" *ngIf="required && hasValue() == false">Selection required</p>
</div>
