<ion-item no-lines [formGroup]="formGroup" *ngIf="formGroup">
  <ion-icon ios="ios-videocam" md="md-videocam" color="grey" item-left></ion-icon>
  <ion-label>{{attribute.label}}</ion-label>
  <ion-input type="text" hidden [formControlName]="attribute.key"></ion-input>
</ion-item>
<ion-item no-lines>
  <ion-icon ios="ios-videocam" md="md-videocam" color="white" item-left></ion-icon>
  <ion-card class="card-button" *ngIf="videoData != null" (click)="captureVideo()">
    <img full [src]="videoThumbail" />
  </ion-card>
  <ion-card class="card-button" *ngIf="videoData == null" (click)="captureVideo()">
    <img full [src]="videoPlaceholder" />
  </ion-card>
</ion-item>
