.page-response-map {
  background-color: #e7e9ec;
  position: relative;
  #mapOne {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.draggable {
      top: 44px;
    }
  }
}
