.whitelabel-intro {
  background-repeat: no-repeat;
  background-size: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url('/assets/images/background.png');
  ion-spinner * {
    margin-left: -20px;
    width: 65px;
    height: 65px;
  }
  ion-icon {
    font-size: 75px;
  }
  p {
    font-size: 15px;
  }
}
