.whitelabel-intro {
  background-repeat: no-repeat;
  background-size: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url('/assets/images/background.png');
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    max-width: 50%;
    border-radius: 50%;
    transition: all 1s;
  }
  p {
    font-size: 16px;
    a {
      color: color($colors, dark);
    }
  }
}
