<ion-header>
  <ion-navbar color="dark">
    <ion-title>Log in</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="deployment-login-page">
  <div class="header" *ngIf="deployment && deployment.name">
    <h3 text-left padding-left padding-top padding-bottom>{{deployment.name}}</h3>
  </div>
  <div class="image" *ngIf="deployment && deployment.image">
    <image-cache padding [src]="deployment.image"></image-cache>
  </div>
  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input #username type="email" clearInput="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input #password type="password" clearInput="true"></ion-input>
    </ion-item>
  </ion-list>
  <div text-right padding>
    <button #login ion-button text-uppercase color="primary" (click)="userLogin($event)"
          [disabled]="username.value.length == 0 || password.value.length == 0">Log in</button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="black" *ngIf="offline">
    <p color="white" ion-text padding-left tappable (click)="showOfflineAlert()">Offline</p>
  </ion-toolbar>
</ion-footer>
