<ion-item [formGroup]="formGroup" *ngIf="formGroup">
  <ion-icon ios="ios-image" md="md-image" color="grey" item-left></ion-icon>
  <ion-label>{{attribute.label}}</ion-label>
  <ion-input type="text" hidden [formControlName]="attribute.key"></ion-input>
</ion-item>
<ion-item>
  <ion-icon ios="ios-image" md="md-image" color="white" item-left></ion-icon>
  <ion-card class="card-button" *ngIf="imageData != null" (click)="showOptions()">
    <img full [src]="imageData" />
  </ion-card>
  <ion-card class="card-button" *ngIf="imageData == null" (click)="showOptions()">
    <img full [src]="imagePlaceholder" />
  </ion-card>
</ion-item>
